
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scatterplot with D3.js</title>
    <script src="https://d3js.org/d3.v5.min.js"></script>    
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <script type="module" src="../js/index.js"></script>
    <style>
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh; 
        margin: 0;
        overflow-y: auto;
        margin-right:0;
      }
      
     
      
      #loadingMessage {
        display: none;
      }
    
      .vertical-text {
        writing-mode: tb-rl; 
        transform: rotate(-180deg); 
        font-family: Arial, sans-serif;
        font-size: 1.2vh; 
    }

      .form-check-input[type="radio"] {
        width: 16px; /* Adjust the width of the radio button circle */
        height: 16px; /* Adjust the height of the radio button circle */
      }
      .form-check-label {
        font-size: 12px; /* Adjust the font size of the label text */
      }
    </style>
  </head>
  <body>
    <div class="container" id="mainContainer">
      <div class="row">
        
      <div class="container mb-1" style="width: 100%; height: 40%;">
        <div class="row">
          <h3 class="mt-2">Find your Youtuber!</h3>
        </div>

      <div class="row text-center" id="monthSelector">
        <div class="col">
          <label class="radio-inline">
              <input type="radio" name="monthOption" value="june" checked> June 2022
          </label>
        </div>
        <div class="col">
            <label class="radio-inline">
                <input type="radio" name="monthOption" value="september"> September 2022
            </label>
        </div>
        <div class="col">
            <label class="radio-inline">
                <input type="radio" name="monthOption" value="november"> November 2022
            </label>
        </div>
        <div class="col">
            <label class="radio-inline">
                <input type="radio" name="monthOption" value="december"> December 2022
            </label>
        </div>
      </div>

      <div class="row ">
        <div class="col-2 text-center justify-content-between " id="Filters">

          <div class="my-3" id="category">
            <div class="form-group border p-3">
              <label for="scrollableCategory">Select Category</label>
              <div id="scrollableCategory" style="height: 10vh; overflow-y: auto;">
              </div>
            </div>
          </div>

          <div class="my-3" id="country">
            <div class="form-group border p-3">
              <label for="scrollableCountry">Select Country</label>
              <div id="scrollableCountry" style="height: 10vh; overflow-y: auto;">
              </div>
            </div>
          </div>

          <button id="confirmButton" class="btn btn-sm  btn-primary">Confirm</button>

        </div>

      
        <div class="col-10" id="ScatterPlotContainer">
          <div class="row my-5 text-center" id="loadingMessage">Loading data...</div>
        </div>

        
      </div>
    </div>
  </div>

  <div class="row">
   



      <div class="row"id="IstoContainer">

        <div class="col-3" >
          <div class="row" id="IstoLikes"></div>
          <div class="container" id="ScaleLikes" style="display:none;">
            <div class="row justify-content-center">
              <div class="col-auto">
                <div class="form-check">
                  <input class="form-check-input linearbottom" type="radio" name="LikesOption" id="linear_likes" value="linear">
                  <label class="form-check-label" for="linear_likes">Linear</label>
                </div>
              </div>
              <div class="col-auto">
                <div class="form-check">
                  <input class="form-check-input logbottom" type="radio" name="LikesOption" id="log_likes" value="log" checked>
                  <label class="form-check-label" for="log_likes">Log</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3" >
          <div class="row" id="IstoComments"></div>
          <div class="container" id="ScaleComments" style="display:none;">
            <div class="row justify-content-center">
              <div class="col-auto">
                <div class="form-check">
                  <input class="form-check-input linearbottom" type="radio" name="CommentsOption" id="linear_comments" value="linear">
                  <label class="form-check-label" for="linear_comments">Linear</label>
                </div>
              </div>
              <div class="col-auto">
                <div class="form-check">
                  <input class="form-check-input logbottom" type="radio" name="CommentsOption" id="log_comments" value="log" checked>
                  <label class="form-check-label" for="log_comments">Log</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3" >
          <div class="row" id="IstoViews"></div>
          <div class="container" id="ScaleViews" style="display:none;">
            <div class="row justify-content-center">
              <div class="col-auto">
                <div class="form-check">
                  <input class="form-check-input linearbottom" type="radio" name="ViewsOption" id="linear_views" value="linear">
                  <label class="form-check-label" for="linear_views">Linear</label>
                </div>
              </div>
              <div class="col-auto">
                <div class="form-check">
                  <input class="form-check-input logbottom" type="radio" name="ViewsOption" id="log_views" value="log" checked>
                  <label class="form-check-label" for="log_views">Log</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3" >
          <div class="row" id="IstoFollowers"></div>
          <div class="container" id="ScaleFollowers" style="display:none;">
            <div class="row justify-content-center">
              <div class="col-auto">
                <div class="form-check">
                  <input class="form-check-input linearbottom" type="radio" name="FollowersOption" id="linear_followes" value="linear">
                  <label class="form-check-label" for="linear_followes">Linear</label>
                </div>
              </div>
              <div class="col-auto">
                <div class="form-check">
                  <input class="form-check-input logbottom" type="radio" name="FollowersOption" id="log_followers" value="log" checked>
                  <label class="form-check-label" for="log_followers">Log</label>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="row mt-4 mb-4 justify-content-center align-items-center ">
        <a href="/compare" id="compare_button" class="mx-5 btn btn-primary" style="width:10%" hidden target="_blank">Compare</a>
        <button type="button" id="zoom_button" class="mx-5 btn btn-primary" style="width:10%">Zoom</button>
        <button type="button" id="reset_button" class="mx-5 btn btn-danger" style="width:10%">Reset</button>
      </div>
      </div>
    </div>


    </div>
    <script type="module" src="../js/histogram.js"></script>

</body>
</html>
