<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Scatterplot with D3.js</title>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="row" style="align-text:center">
      <h1>Find swadmxklasm!</h1>
    </div>
    <div class="row" id="GraphContainer"></div>
  </div>

</body>
</html>
