<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <link rel="stylesheet" href="userStyle.css">
  <title>User Page</title>
</head>
<body>
  <a id="backArrow" href="/">←</a>
    <div id="tooltip" style="position: absolute; opacity: 0;"></div>
    <div class="container marginT" id="container1">
    </div>
    <br>
    <div class="container" id="container2">
    </div>


<script type="module" src="../js/userPage.js"></script>
</body>
</html>
