body {
    font-family: sans-serif;
  }
  
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Center content horizontally */
    width: 100%;
  }
  
  .scatterplot {
    width: 25%;
    height: 100%;
    float: left;
  }
  